/* $Id$ */

<style type="text/css">
<!--
 body {
   font-family: Verdana,Arial,Helvetica,sans-serif;
   background-color: #f5f5dc;
   color: #000000;
   link: #bb0000;
   vlink: #ff0000;
 }
 a:link { color: #bb0000; }
 a:visited { color: #ff5500; }

 p { text-align:justified; }
 h2 {
  text-align:center;
  color:#800000;
  background-color:#FFFF99
 }
 table {  background-color:#FFFFFF; }
 th {
  text-align:center;
  background-color:#FFD000;
 }
 td { font-size:80%; }

//-->
</style>
