/* $Id$ */

 body {
   font-family: Verdana,Arial,Helvetica,sans-serif;
   background-color: #f5f5dc;
   color: #000000;
 }
 a:link { color: #bb0000; }
 a:visited { color: #ff5500; }

 p { text-align:justify; }
 h2 {
  text-align:center;
  color:#800000;
  background-color:#FFFF99
 }
 table {  background-color:#FFFFFF; }
 th {
  text-align:center;
  background-color:#FFD000;
 }
 td { font-size:80%; }

 .bugfix { color:#f00; }
 .feature { color:#090; }
 .removed { text-decoration:line-through; }
 .changed { text-decoration:none; }

 div.ebox {
   padding:2px;
   background: #e5e5e5;
   margin:0.5em;
   text-align:center;
   color: #f00;
   font-weight: bold;
   border: 1px solid black;
 }
